/*Fuentes*/
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colores personalizados */
:root {
  --dark-bg: #040316;
  --darker-bg: #06042d;
  --darkest-bg: #060340;
  --light-text: #d9d8df;
  --lighter-text: #e6e6ef;
  --subtitle-text: #a39999;
}

body {
  font-family: "Roboto" sans-serif;
  background-color: var(--dark-bg);
  color: var(--light-text);
}

header {
  background: linear-gradient(
    180deg,
    var(--darkest-bg) 0%,
    var(--darker-bg) 50%,
    var(--dark-bg) 100%
  );
  color: var(--lighter-text);
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  color: var(--lighter-text);
}

.profile img {
  border: 2px solid var(--light-text);
}

.projects .project-item {
  background-color: var(--darkest-bg);
  color: var(--lighter-text);
}

.btn-primary {
  background-color: var(--darker-bg);
  border-color: var(--darker-bg);
}

.btn-primary:hover {
  background-color: var(--darkest-bg);
  border-color: var(--darkest-bg);
}

.justify{
    text-align: justify;
}
.subtitle{
    color: var(--subtitle-text);
    font-style: italic;
}
.contact{
    padding: 1.5rem;
    border-radius: 15px;
    background-color: var(--darkest-bg);
}
.lang-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
.card img{
  max-height: 40%;
  object-fit: scale-down;
  overflow: hidden;
}

/*ANIMACIONES BONITAS*/
.titulo {
  font-size: 3;
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
.btn-neon{
  transition: all ease 0.2s;
}
.btn-neon:hover{
  animation: jump .3s ;
  box-shadow: 0px 10px 20px 2px var(--lighter-text);
}
@-webkit-keyframes jump{
  0%,
  50%{transform: translateY(-5px);}
  100%{transform: translateY(0px);}
}
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
@keyframes jump{
  0%,
  50%{transform: translateY(-5px);}
  100%{transform: translateY(0px);}
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}